In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#Sample (stand in) data names
us_hpi_data = {'Date': ['1-01-2003','1-01-2004','1-01-2005','1-01-2006','1-01-2007','1-01-2008','1-01-2009','1-01-2010',
                       '1-01-2011', '1-01-2012','1-01-2013','1-01-2014','1-01-2015','1-01-2016','1-01-2017','1-01-2018','1-01-2019',
                       '1-01-2020','1-01-2021','1-01-2022','2-01-2023'],
              'US_House_Price_Index':[240,280,320,360,400,440,480,520,560,600,640]}

us_ir_data = {'Date': ['1-01-2003','1-01-2004','1-01-2005','1-01-2006','1-01-2007','1-01-2008','1-01-2009','1-01-2010',
                       '1-01-2011', '1-01-2012','1-01-2013','1-01-2014','1-01-2015','1-01-2016','1-01-2017','1-01-2018','1-01-2019',
                       '1-01-2020','1-01-2021','1-01-2022','2-01-2023'],
              'US_House_Price_Index':[240,280,320,360,400,440,480,520,560,600,640]}

#come back to fix US interest rate data

#put in data names for individual states 
wa_state_data = {'Date': ['1-01-2003','1-01-2004','1-01-2005','1-01-2006','1-01-2007','1-01-2008','1-01-2009','1-01-2010',
                       '1-01-2011', '1-01-2012','1-01-2013','1-01-2014','1-01-2015','1-01-2016','1-01-2017','1-01-2018','1-01-2019',
                       '1-01-2020','1-01-2021','1-01-2022','2-01-2023'],
                'State_House_Price_Index': [-12, -10, -8, -6, -2, 0, 2, 4 , 6 , 8, 10, 12 ,14, 16, 18, 20, 22],
                'House_Price_Index':[240,280,320,360,400,440,480,520,560,600,640]}

ct_state_data = {'Date': ['1-01-2003','1-01-2004','1-01-2005','1-01-2006','1-01-2007','1-01-2008','1-01-2009','1-01-2010',
                       '1-01-2011', '1-01-2012','1-01-2013','1-01-2014','1-01-2015','1-01-2016','1-01-2017','1-01-2018','1-01-2019',
                       '1-01-2020','1-01-2021','1-01-2022','2-01-2023'],
                 
                'State_House_Price_Index': [-6, -2, 0, 2, 4 , 6 , 8, 10, 12 ,14, 16, 18, 20],
                'House_Price_Index':[240,280,320,360,400,440,480,520,560,600,640]}

tx_state_data = {'Date': ['1-01-2003','1-01-2004','1-01-2005','1-01-2006','1-01-2007','1-01-2008','1-01-2009','1-01-2010',
                       '1-01-2011', '1-01-2012','1-01-2013','1-01-2014','1-01-2015','1-01-2016','1-01-2017','1-01-2018','1-01-2019',
                       '1-01-2020','1-01-2021','1-01-2022','2-01-2023'],
                 
                'State_House_Price_Index': [-2, 0, 2, 4 , 6 , 8, 10, 12 ,14, 16, 18, 20, 22],
                'House_Price_Index':[240,280,320,360,400,440,480,520,560,600,640],}

md_state_data = {'Date': ['1-01-2003','1-01-2004','1-01-2005','1-01-2006','1-01-2007','1-01-2008','1-01-2009','1-01-2010',
                       '1-01-2011', '1-01-2012','1-01-2013','1-01-2014','1-01-2015','1-01-2016','1-01-2017','1-01-2018','1-01-2019',
                       '1-01-2020','1-01-2021','1-01-2022','2-01-2023'],
                'State_House_Price_Index': [-10,-8,-6, -2, 0, 2, 4 , 6 , 8, 10, 12 ,14, 16, 18, 20, 22],
                'House_Price_Index':[240,280,320,360,400,440,480,520,560,600,640]}

In [ ]:
#converting data to DataFrames

us_hpi_df = pd.DataFrame(us_hpi_data)
us_ir_df = pd.DataFrame(us_ir_data)

wa_state_df = pd.DataFrame(wa_state_data)
ct_state_df = pd.DataFrame(ct_state_data)
tx_state_df = pd.DataFrame(tx_state_data)
md_state_df = pd.DataFrame(md_state_data)

In [ ]:
#converting monthly to Quarterly Data

monthly_data = {
    'Date': ['01-01-2003','02-01-2003','03-01-2003','04-01-2003','05-01-2003','06-01-2003','01-01-2003','02-01-2003','03-01-2003','04-01-2003','05-01-2003','06-01-2003', '07-01-2003', '08-01-2003', '09-01-2003', '10-01-2003', '11-01-2003', '12-01-2003',

 '01-01-2004','02-01-2004','03-01-2004','04-01-2004','05-01-2004','06-01-2004', '07-01-2004', '08-01-2004', '09-01-2004', '10-01-2004', '11-01-2004', '12-01-2004',

 '01-01-2005','02-01-2005','03-01-2005','04-01-2005','05-01-2005','06-01-2005', '07-01-2005', '08-01-2005', '09-01-2005', '10-01-2005', '11-01-2005', '12-01-2005', 

'01-01-2006','02-01-2006','03-01-2006','04-01-2006','05-01-2006','06-01-2006', '07-01-2006', '08-01-2006', '09-01-2006', '10-01-2006', '11-01-2006', '12-01-2006', 

'01-01-2007','02-01-2007','03-01-2007','04-01-2007','05-01-2007','06-01-2007', '07-01-2007', '08-01-2007', '09-01-2007', '10-01-2007', '11-01-2007', '12-01-2007',

'01-01-2008','02-01-2008','03-01-2008','04-01-2008','05-01-2008','06-01-2008', '07-01-2008', '08-01-2008', '09-01-2008', '10-01-2008', '11-01-2008', '12-01-2008'

'01-01-2009','02-01-2009','03-01-2009','04-01-2009','05-01-2009','06-01-2009', '07-01-2009', '08-01-2009', '09-01-2009', '10-01-2009', '11-01-2009', '12-01-2009'

'01-01-2010','02-01-2010','03-01-2010','04-01-2010','05-01-2010','06-01-2010', '07-01-2010', '08-01-2010', '09-01-2010', '10-01-2010', '11-01-2010', '12-01-2010'

'01-01-2011','02-01-2011','03-01-2011','04-01-2011','05-01-2011','06-01-2011', '07-01-2011', '08-01-2011', '09-01-2011', '10-01-2011', '11-01-2011', '12-01-2011'

'01-01-2012','02-01-2012','03-01-2012','04-01-2012','05-01-2012','06-01-2012', '07-01-2012', '08-01-2012', '09-01-2012', '10-01-2012', '11-01-2012', '12-01-2012'

'01-01-2013','02-01-2013','03-01-2013','04-01-2013','05-01-2013','06-01-2013', '07-01-2013', '08-01-2013', '09-01-2013', '10-01-2013', '11-01-2013', '12-01-2013'

'01-01-2014','02-01-2014','03-01-2014','04-01-2014','05-01-2014','06-01-2014', '07-01-2014', '08-01-2014', '09-01-2014', '10-01-2014', '11-01-2014', '12-01-2014'

'01-01-2015','02-01-2015','03-01-2015','04-01-2015','05-01-2015','06-01-2015', '07-01-2015', '08-01-2015', '09-01-2015', '10-01-2015', '11-01-2015', '12-01-2015'

'01-01-2016','02-01-2016','03-01-2016','04-01-2016','05-01-2016','06-01-2016', '07-01-2016', '08-01-2016', '09-01-2016', '10-01-2016', '11-01-2016', '12-01-2016'

'01-01-2017','02-01-2017','03-01-2017','04-01-2017','05-01-2017','06-01-2017', '07-01-2017', '08-01-2017', '09-01-2017', '10-01-2017', '11-01-2017', '12-01-2017'

'01-01-2018','02-01-2018','03-01-2018','04-01-2018','05-01-2018','06-01-2018', '07-01-2018', '08-01-2018', '09-01-2018', '10-01-2018', '11-01-2018', '12-01-2018'

'01-01-2019','02-01-2019','03-01-2019','04-01-2019','05-01-2019','06-01-2019', '07-01-2019', '08-01-2019', '09-01-2019', '10-01-2019', '11-01-2019', '12-01-2019'

'01-01-2020','02-01-2020','03-01-2020','04-01-2020','05-01-2020','06-01-2020', '07-01-2020', '08-01-2020', '09-01-2020', '10-01-2020', '11-01-2020', '12-01-2020'

'01-01-2021','02-01-2021','03-01-2021','04-01-2021','05-01-2021','06-01-2021', '07-01-2021', '08-01-2021', '09-01-2021', '10-01-2021', '11-01-2021', '12-01-2021'

'01-01-2022','02-01-2022','03-01-2022','04-01-2022','05-01-2022','06-01-2022', '07-01-2022', '08-01-2022', '09-01-2022', '10-01-2022', '11-01-2022', '12-01-2022'

'01-01-2023','02-01-2023','03-01-2023','04-01-2023','05-01-2023','06-01-2023', '07-01-2003', '08-01-2023', '09-01-2023', '10-01-2023', '11-01-2023', '12-01-2023']
    'Interest_Rate_Index': [600, 400, 200, 0, 100, 200, 300, 400, 500, 600, 700, 800]
}

#finally convert the data to a DF
monthly_df = pd.DataFrame(monthly_data)

#convert the 'Date' column to a datetime to make it easier to change
monthly_df['Date'] = pd.to_datatime(monthly_df['Date'])

#finally createa new DF with quarterly dates
quarterly_dates = pd.date_ranges(start='01-01-2002', end='12-01-2002', freq='Q')
quarterly_data = {'Quarter': quarterly_dates, 'Quarterly_Interest_Rates':[0] * len(quarterly_dates)}
quarterly_df = pd.DataFrame(quarterly_data)

#calculate quarterly totals by doing the average for the monthly values for each quarter(whew)
for i, quarterly_date in enumerate(quarterly_dates):
    start_date = quarter_date
    end_date = quarterly_dates[i + 1] if i < len(quarterly_dates) - 1 else '12-01-2002'
    quarterly_total = monthly_df.loc[(monthly_df['Date'] >= start_date) & (monthly_df['Date'] < end_date), 'Interest_Rates'].mean()
    quarterly_df.loc[i, 'Quarterly_Interest_Rates'] = quarterly_total
    
#print out the Quarterly DF
print(quarterly_df)

In [ ]:
#Save the DF to a csv file

quarterly_df.to_csv('quarterly_ir_data.csv', index=False)